ion-button{
    color: aqua;  // Change button background color
    border-radius: 30px; }
    h1{
        font-size: larger;
        color: #3880ff;
    }

    .chose{
        margin-right: 50px;
        color: #3880ff;

        
    }

     