<ion-header [translucent]="true">

  <ion-toolbar  class="mytolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">vente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">vente</ion-title>
    </ion-toolbar>
  </ion-header>

 

  <div class="add-product-container">
    <h2>Ajouter la voiture</h2>
  
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <!-- اسم المنتج -->
      <div class="form-group">
        <label for="name">Type de voiture</label>
        <input id="name" type="text" formControlName="type" placeholder="Entrez le type de voiture" />
      </div>

      <div class="form-group">
        <label for="name">Modele de voiture</label>
        <input id="name" type="text" formControlName="model" placeholder="Entrez le modele de voiture" />
      </div>

      <div class="form-group">
        <label for="name">Date de production</label>
        <input id="name" type="text" formControlName="annee" placeholder="Entrez le date de production" />
      </div>
  
      <!-- سعر المنتج -->
      <div class="form-group">
        <label for="price">Prix</label>
        <input id="price" type="number" formControlName="price" placeholder="Entrez le prix" />
      </div>
  
      <!-- وصف المنتج -->
      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" formControlName="description" placeholder="Entrez une description"></textarea>
      </div>
  
      <!-- رفع صورة المنتج -->
      <div class="form-group">
        <label for="imageFile">Photo de voiture</label>
        <input id="imageFile" type="file" (change)="onImageUpload($event)" />
      </div>
  
      <!-- معاينة الصورة -->
      <div class="image-preview" *ngIf="imagePreview">
        <h4>Aperçu de l'image :</h4>
        <img [src]="imagePreview" alt="Aperçu de l'image" />
      </div>
  
      <!-- زر الإضافة -->
      <button type="submit" [disabled]="productForm.invalid">Ajouter le produit</button>
    </form>
  </div>

 
 <ion-content>
   <!-- afficher data -->
   <div class="product-card" *ngFor="let product of products">
    <!-- صورة المنتج -->
    <img [src]="product.imageFile" alt="{{ product.name }}" class="product-image" />
  
    <!-- تفاصيل المنتج -->
    <div class="product-details">
      <h3 class="product-name">{{ product.type }}</h3>
      <p class="product-price">{{ product.model  }}</p>
      <p class="product-description">{{ product.price }}</p>
    </div>
  </div>
 </ion-content>