<ion-header [translucent]="true">

  <ion-toolbar  class="mytolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">vente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">vente</ion-title>
    </ion-toolbar>
  </ion-header>

 

  <ion-item >
    <ion-label position="floating">Type</ion-label>
    <ion-input type="text" name="type" [(ngModel)]="type" required></ion-input>
  </ion-item>
  <ion-item >
    <ion-label position="floating">Model</ion-label>
    <ion-input type="text" name="model" [(ngModel)]="model" required></ion-input>
  </ion-item>
 
  <ion-item >
    <ion-label position="floating">Annee</ion-label>
    <ion-input type="text" name="annee" [(ngModel)]="annee" required></ion-input>
  </ion-item>
  <ion-item >
    <ion-label position="floating">Price</ion-label>
    <ion-input type="text" name="price" [(ngModel)]="price" required></ion-input>
  </ion-item>
  
  <div class="custom-file-upload"> <ion-item>
    <input class="chose" type="file" (change)="onFileSelected($event)" />
  </ion-item> </div>
  
  <ion-button  expand="block" (click)="uploadFile()">Upload</ion-button>

 
 <ion-content>
   <!-- afficher data -->
   <div class="product-card" *ngFor="let product of products">
    <!-- صورة المنتج -->
    <img [src]="product.imgUrl" alt="{{ product.name }}" class="product-image" />
  
    <!-- تفاصيل المنتج -->
    <div class="product-details">
      <h3 class="product-name">{{ product.type }}</h3>
      <p class="product-price">{{ product.model  }}</p>
      <p class="product-description">{{ product.price }}</p>
    </div>
  </div>
 </ion-content>