<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="h1">inscrivez-vous
  </h1>

<div class="mydiv">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col  size="12">

      <form [formGroup]="productForm">
        <ion-item lines="full">
          <ion-label position="floating">Name</ion-label>
          <ion-input type="text" formControlName="name" ></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Phone</ion-label>
          <ion-input type="text" formControlName="phoneNumber"  required></ion-input>
        </ion-item>
       
        <ion-item lines="full">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="text" formControlName="email" ></ion-input>
        </ion-item>
    
        <ion-item lines="full">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" formControlName="password" ></ion-input>
        </ion-item>
    
        <ion-row>
          <ion-col>
            <ion-button size="large"  type="submit" color="primary" expand="block" (click)="register()">Register</ion-button>
          </ion-col>
        </ion-row>
        
      </form>
    </ion-col>

    </ion-row>
  </ion-grid>
</div>
 
</ion-content>