.Menutitle{
    color: #ffcc00;
    font-size: xx-large;

}
.title{
    color: #ffcc00;
    font-size: xx-large;
}
.lable{
    color: #ffcc00;
}
.box{
    font-size: x-large;
    color: #ffcc00;

}
.tog{
   width: 100%;
   padding: 10px;

}
.content{
    padding: 15px;

}
.tolbarNenu{
    padding: 15px; 
}



.loading-container, .empty-container {
    text-align: center;
    margin-top: 50%;
  }
  
 .product-image {
    max-width: 100%;
    height: 100%;
  border-radius: 10px;
  padding-top: 10%;


  }

  .product-details{
padding-left: 10%;
  padding: 10%;
  }