<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar class="content">
     
      <ion-title class="title">Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content class="ion-padding">



            <div class> 
              <ion-menu-toggle class="tog" >
              <ion-item detail="true" button  [routerLink]="['/location']">
                <ion-label class="box">location de voitures</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </div>
            <div > 
              <ion-menu-toggle class="tog">
              <ion-item detail="true" button routerLink="/vente">
                <ion-label class="box">vente de Voitures  </ion-label>
              </ion-item>
            </ion-menu-toggle> </div>
            <div >
              <ion-menu-toggle class="tog">
              
              <ion-item detail="true" button type="submit" (click)="logOut()" >
                <ion-label class="box">Se déconnecter </ion-label>
              </ion-item>
            </ion-menu-toggle></div>

      
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar class="tolbarNenu">
      <ion-buttons  slot="start" >
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="Menutitle">Menu</ion-title>
      
    </ion-toolbar>

    <ion-searchbar 
    placeholder="Rechercher un produit"
    (ionInput)="filterProducts($event)">
  </ion-searchbar>
    
<!--     <ion-button (click)="refreshPage()">Actualiser</ion-button>
 -->
  </ion-header>
  <ion-content class="ion-padding"> 
 
   

   
  <!-- afficher data -->
  <div class="product-card" *ngFor="let product of products">
    <!-- صورة المنتج -->
    <img [src]="product.imageFile" alt="{{ product.name }}" class="product-image" />
  
    <!-- تفاصيل المنتج -->
    <div class="product-details">
      <h3 class="product-name">{{ product.type }}</h3>
      <p class="product-price">{{ product.model  }}</p>
      <p class="product-description">{{ product.price }}</p>
      <p class="product-price">{{ product.description  }}</p>

    </div>
  </div>
 

 

  </ion-content>

</div>


