.divider {
  display: flex;
  
  &:before,
  &:after {
    content: "";
    flex: 1;
  }
}

.line {
  align-items: center;
  margin: 1em -1em;
  color: #cccccc;
  
  &:before,
  &:after {
    height: 1px;
    margin: 0 1em;
  }
} 

.one-line {
  &:before,
  &:after {
     background: #cccccc;
  }
}

.auth-form ion-grid,
.auth-form ion-row {
  margin: auto;
  justify-content: center;
}

.already {
  display: block;
  text-align: center;
  padding-bottom: 10px;
}
.h1{
  text-align: center;
  font-size: 48px;
  color: #ffcc00;


}
.logo-container {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
}